node_modules
dist
release
src/renderer/assets/music/124.mp3
src/renderer/assets/music/laser.wav
src/renderer/assets/music/mfk.flac
src/renderer/assets/music/mfk.mp3
src/renderer/assets/music/nasa_on_a_mission.mp3
