@import url('../styles/cssAviable.css');
#pro-layout .ant-pro-setting-drawer-handle {
  background-color: var(--setting-color) !important;
}
/* .ant-pro-global-header-layout-mix {
  background-color: var(--theme-style) !important;
} */
#pro-layout .ant-pro-global-header-layout-mix {
  background-color: var(--theme-style) !important;
}
#pro-layout .ant-pro-sider.ant-layout-sider-light .ant-menu-item a {
  color: var(--setting-color) !important;
}
#pro-layout .ant-layout-sider {
  height: calc(100% - 60px) !important;
}

#pro-layout .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: transparent !important;
}
